<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Blog by Roc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<style>
    /* Custom Styles */
    .navbar-lightgreen {
        background-color: lightgreen;
    }

    .navbar-lightgreen .navbar-nav .nav-link {
        color: #333; /* Set text color to a readable color on lightgreen background */
    }

    .navbar-lightgreen .navbar-nav .nav-link:hover,
    .navbar-lightgreen .navbar-nav .nav-link:focus {
        color: #fff; /* Set text color on hover or focus */
        background-color: #28a745; /* Set background color on hover or focus */
    }

</style>

<body>

    <nav class="navbar navbar-expand-lg navbar-light navbar-lightgreen">
        <a class="navbar-brand" href="#">BLOG BY ROC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="homepage.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Coaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog.html">Blog</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container mt-4">
        <div class="row">
            <!-- Blog Entries -->
            <div class="col-md-8">
                <h2 class="mb-4">Latest Blog Posts</h2>

                <!-- Blog Post 3 -->
                <div class="card mb-4">
                    <img src="https://via.placeholder.com/800x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Blog Post Title 3</h5>
                        <p class="card-text">Sed vehicula dolor a odio bibendum, vel laoreet ex malesuada. Nam euismod ex in nisl posuere bibendum.</p>
                        <span id="additionalText" class="collapse">
                            <p>This is the additional part of your paragraph. Ut feugiat, tortor at imperdiet hendrerit, urna odio rhoncus odio, nec iaculis mi felis vel lacus.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, corrupti. Dolores maiores ab nam consequatur nulla. Ab vero tempora error eos necessitatibus. Nulla, corporis asperiores reiciendis ipsum delectus id est.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus tenetur animi totam eius voluptatum aliquid asperiores fugiat necessitatibus placeat ratione, ipsam labore quidem dignissimos porro quod harum eum culpa quae!</p>
                        </span>
                        <a href="#additionalText" class="btn btn-primary" data-toggle="collapse">See More</a>
                    </div>
                </div>

                <!-- Add more blog posts as needed -->

            </div>

            <!-- Sidebar -->
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="blog.html">Blog 1</a></li>
                            <li class="list-group-item"><a href="blog-2.html">Blog 2</a></li>
                            <li class="list-group-item"><a href="blog-3.html">Blog 3</a></li>
                        </ul>
                    </div>
                </div>
                
                <!-- Add more sidebar elements as needed -->

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-gray text-center py-3 mt-5">
        <div class="container">
            <h4>Journal by Roc</h4>
            <!-- Social Media Icons -->
            <a href="#" class="text-gray"><i class="fab fa-facebook-f fa-lg mr-3"></i></a>
            <a href="#" class="text-gray"><i class="fab fa-twitter fa-lg mr-3"></i></a>
            <a href="#" class="text-gray"><i class="fab fa-instagram fa-lg mr-3"></i></a>
            <a href="#" class="text-gray"><i class="fab fa-linkedin-in fa-lg"></i></a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
